body {
  background-color: var(--color3);
}

.app-tagline {
  color: var(--color3);
  line-height: 58px;
}

.app-desc {
  color: #a8a8a8;
  font-size: 18px;
}

.custom-input-form {
  height: 52px;
  border-radius: 10px;
}

.custom-submit-btn {
  height: 60px;
  background-color: var(--color1);
  border-radius: 10px;
}

.custom-google-btn {
  height: 60px;
  border-radius: 10px;
  border: 2px solid #ececec;
}
