@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --color1: #ffe200;
  --color2: #1e1e1e;
  --color3: #fffae8;
}

.font-poppins-regular {
  font-weight: 400 !important;
  font-family: "Poppins", sans-serif;
}

.font-poppins-medium {
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
}

.font-poppins-semi {
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif;
}

.font-poppins-bold {
  font-weight: 700 !important;
  font-family: "Poppins", sans-serif;
}
